$color-text-color: #fff7f1;

$color-health: #e13f0b;
$color-hit: #fff7f1;
$color-interface: #020300;

$color-button: #323034;
$color-bg-100: rgb(255,255,255, 0.2);
$color-bg-200: rgb(255,255,255, 0.4);
$color-bg-300: rgb(0,0,0, 0.2);

$content-width: 1110px;